@import "common/var";
@import './mixins/mixins';

@include b(fillblanks) {
  position: relative;
  z-index: 10;
  height:100%;
  @include e(countdown){
    box-sizing: border-box;
    position: absolute;
    z-index: 11;
    border-radius: 100em;
    background: rgba(0,0,0,.5);
    left:50%;
    top:0px;
    transform: translate(-50%,0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:4px 12px 4px 4px;
    overflow: hidden;
    .countDown{
      color: #DEE2E7;
      font-size: 18px;
      font-weight: 500;
      display: flex;
      align-items: center;
      margin-left:5px;
      .item{
        display: block;
        height:22px;
      }
    }
  }
  @include e(content){
    position: relative;
    height:100%;
  }
  @include e(submit){
    border:0 none;
    outline: 0 none;
    cursor: pointer;
    box-sizing: border-box;
    position: absolute;
    height:44px;
    line-height: 44px;
    padding:0 8px 0 22px;
    color:#fff;
    border-radius: 100em;
    z-index: 12;
    left:50%;
    bottom: 30px;
    font-size: 18px;
    font-weight: 500;
    transform: translate(-50%,0);
    background: linear-gradient(45deg, #FFD518 0%, #FFAA0A 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    svg{
      margin-left:10px;
    }
    @include when(disabled){
      color:#ddd;
      pointer-events: none;
      background: #ccc;
      svg circle{
        fill:#ddd
      }
      svg path{
        fill:#ccc
      }
    }
  }
  @include e(board){
    box-sizing: border-box;
    background: linear-gradient(270deg, #151523 0%, #222428 100%);
    position: absolute;
    z-index: 13;
    left:50%;
    bottom:20px;
    transform: translate(-50%,0);
    border-radius: 15px;
    width: 500px;
    height:155px;
    padding:2px;
    color: #A2AAB8;
    font-size: 16px;
    font-weight: 400;

    @include m(title){
      display: flex;
      justify-content: space-between;
      color: #A2AAB8;
      font-size: 16px;
      list-style: none;
      font-weight: 500;
      line-height: 40px;
      span{
        width: 50%;
      }
    }
    @include m(close){
      position:absolute;
      right: 0;
      top:0;
      background:#373743;
      width: 32px;
      height:22px;
      border-radius: 0 15px 0 15px;
      cursor: pointer;
      .ne-icon{
        height: 18px;
        width:18px;
        position:absolute;
        left: 50%;
        top:50%;
        transform:  translate(-50%,-50%);
        color:#fff;
      }
    }

  }
}
