@import "common/var";
@import './mixins/mixins';

@include b(icon) {
  color:currentColor;
  display: inline-block;
  vertical-align: middle;
  width: $--icon-size-base;
  height: $--icon-size-base;
  mask-position: 50% 50%;
  mask-repeat: no-repeat;
  mask-size: 100%;
  background-color: currentColor;
  @include when(rotate){
      animation: rotate 1s linear infinite
    }
  }
  @keyframes rotate {
  to {
    transform: rotate(1turn)
  }
}

.ne-icon-rotate{
  animation: rotate 1s linear infinite
}

.ne-icon-courseware-arrow {
  @include mask-image('<svg width="40px" height="40px" viewBox="0 0 40 40" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><path d="M13.106926,17.4849914 L19.9983741,20.5 L19.9983741,20.5 L26.8728077,17.4924353 C27.5024809,17.2169533 28.2374533,17.4856128 28.5410305,18.1022324 C28.8299151,18.6890089 28.588426,19.3988725 28.0016495,19.6877571 C27.9886344,19.6941648 27.9755027,19.7003327 27.962261,19.7062579 L20.8191883,22.9024964 C20.2971489,23.1360881 19.700082,23.1350145 19.178886,22.899547 L12.1026895,19.7026413 C11.4942489,19.4277581 11.2238472,18.7116827 11.4987303,18.1032421 C11.4988824,18.1029054 11.4990347,18.1025689 11.499187,18.1022324 C11.7759113,17.49121 12.4924003,17.2161365 13.106926,17.4849914 Z" fill="#DCE0E7"></path></g></svg>');
}

.ne-icon-courseware-up{
  @extend .ne-icon-courseware-arrow;
  transform:rotate(180deg);
}

.ne-icon--arrow-left{
  @extend .ne-icon--arrow-right;
  transform:rotate(180deg);
}

.ne-icon--arrow-up{
  @extend .ne-icon--arrow-right;
  transform:rotate(-90deg);
}

.ne-icon--arrow-down{
  @extend .ne-icon--arrow-right;
  transform:rotate(90deg);
}

.ne-icon--arrow-right {
	@include mask-image('<svg width="16" height="16" viewBox="0 0 7 11" fill="currentColor" aria-hidden="true" aria-labelledby="arrow-right"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-936.000000, -1389.000000)" fill="#172B4D"><g transform="translate(459.000000, 1297.000000)"><g transform="translate(480.000000, 97.000000) scale(-1, 1) translate(-480.000000, -97.000000) translate(468.000000, 74.000000)"><g transform="translate(8.000000, 18.000000)"><path d="M5.09619408,0.146446609 C5.29145622,-0.0488155365 5.60803871,-0.0488155365 5.80330086,0.146446609 L6.51040764,0.853553391 C6.70566979,1.04881554 6.70566979,1.36539803 6.51040764,1.56066017 L2.62061324,5.45045458 L6.51040764,9.33883476 C6.70566979,9.53409691 6.70566979,9.8506794 6.51040764,10.0459415 L5.80330086,10.7530483 C5.60803871,10.9483105 5.29145622,10.9483105 5.09619408,10.7530483 L0.146446609,5.80330086 C-0.0488155365,5.60803871 -0.0488155365,5.29145622 0.146446609,5.09619408 L5.09619408,0.146446609 Z"></path></g></g></g></g></g></svg>');

}

.ne-icon--bad {
	@include mask-image('<svg width="24" height="24" viewBox="0 0 48 48" fill="currentColor" aria-hidden="true" aria-labelledby="bad"><path d="M4.18051 26.8339C4.08334 27.9999 5.00352 29 6.1736 29H10C11.1046 29 12 28.1046 12 27V7C12 5.89543 11.1046 5 10 5H7.84027C6.80009 5 5.93356 5.79733 5.84717 6.83391L4.18051 26.8339Z" fill="none" stroke="#333" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path><path d="M18 26.6255C18 27.4612 18.5194 28.2092 19.2753 28.5655C20.9238 29.3426 23.7329 30.9062 25 33.0195C26.6331 35.7431 26.9411 40.664 26.9912 41.7912C26.9982 41.949 26.9937 42.107 27.0154 42.2634C27.2861 44.2155 31.0543 41.9351 32.5 39.5239C33.2846 38.2153 33.3852 36.496 33.3027 35.1537C33.2144 33.7175 32.7933 32.3301 32.3802 30.9517L31.5 28.0155H42.3569C43.6832 28.0155 44.6421 26.7482 44.2816 25.4719L38.9113 6.45642C38.668 5.5949 37.8818 5 36.9866 5H20C18.8954 5 18 5.89543 18 7V26.6255Z" fill="none" stroke="#333" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path></svg>');

}

.ne-icon--camera {
	@include mask-image('<svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" aria-labelledby="camera"><path fill-rule="evenodd" d="M15 3H7c0-.55-.45-1-1-1H2c-.55 0-1 .45-1 1-.55 0-1 .45-1 1v9c0 .55.45 1 1 1h14c.55 0 1-.45 1-1V4c0-.55-.45-1-1-1zM6 5H2V4h4v1zm4.5 7C8.56 12 7 10.44 7 8.5S8.56 5 10.5 5 14 6.56 14 8.5 12.44 12 10.5 12zM13 8.5c0 1.38-1.13 2.5-2.5 2.5S8 9.87 8 8.5 9.13 6 10.5 6 13 7.13 13 8.5z"></path></svg>');

}

.ne-icon--check-circle {
	@include mask-image('<svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" aria-labelledby="check-circle"><path fill-rule="evenodd" d="M1.5 8a6.5 6.5 0 1113 0 6.5 6.5 0 01-13 0zM0 8a8 8 0 1116 0A8 8 0 010 8zm11.78-1.72a.75.75 0 00-1.06-1.06L6.75 9.19 5.28 7.72a.75.75 0 00-1.06 1.06l2 2a.75.75 0 001.06 0l4.5-4.5z"></path></svg>');

}

.ne-icon--check {
	@include mask-image('<svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" aria-labelledby="check"><path fill-rule="evenodd" d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z"></path></svg>');

}

.ne-icon--chevron-down {
	@include mask-image('<svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" aria-labelledby="chevron-down"><path fill-rule="evenodd" d="M12.78 6.22a.75.75 0 010 1.06l-4.25 4.25a.75.75 0 01-1.06 0L3.22 7.28a.75.75 0 011.06-1.06L8 9.94l3.72-3.72a.75.75 0 011.06 0z"></path></svg>');

}

.ne-icon--chevron-left {
	@include mask-image('<svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" aria-labelledby="chevron-left"><path fill-rule="evenodd" d="M9.78 12.78a.75.75 0 01-1.06 0L4.47 8.53a.75.75 0 010-1.06l4.25-4.25a.75.75 0 011.06 1.06L6.06 8l3.72 3.72a.75.75 0 010 1.06z"></path></svg>');

}

.ne-icon--chevron-right {
	@include mask-image('<svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" aria-labelledby="chevron-right"><path fill-rule="evenodd" d="M6.22 3.22a.75.75 0 011.06 0l4.25 4.25a.75.75 0 010 1.06l-4.25 4.25a.75.75 0 01-1.06-1.06L9.94 8 6.22 4.28a.75.75 0 010-1.06z"></path></svg>');

}

.ne-icon--chevron-up {
	@include mask-image('<svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" aria-labelledby="chevron-up"><path fill-rule="evenodd" d="M3.22 9.78a.75.75 0 010-1.06l4.25-4.25a.75.75 0 011.06 0l4.25 4.25a.75.75 0 01-1.06 1.06L8 6.06 4.28 9.78a.75.75 0 01-1.06 0z"></path></svg>');

}

.ne-icon--clock {
	@include mask-image('<svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" aria-labelledby="clock"><path fill-rule="evenodd" d="M1.5 8a6.5 6.5 0 1113 0 6.5 6.5 0 01-13 0zM8 0a8 8 0 100 16A8 8 0 008 0zm.5 4.75a.75.75 0 00-1.5 0v3.5a.75.75 0 00.471.696l2.5 1a.75.75 0 00.557-1.392L8.5 7.742V4.75z"></path></svg>');

}

.ne-icon--close-circle {
	@include mask-image('<svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" aria-labelledby="close-circle"><path fill-rule="evenodd" d="M3.404 12.596a6.5 6.5 0 119.192-9.192 6.5 6.5 0 01-9.192 9.192zM2.344 2.343a8 8 0 1011.313 11.314A8 8 0 002.343 2.343zM6.03 4.97a.75.75 0 00-1.06 1.06L6.94 8 4.97 9.97a.75.75 0 101.06 1.06L8 9.06l1.97 1.97a.75.75 0 101.06-1.06L9.06 8l1.97-1.97a.75.75 0 10-1.06-1.06L8 6.94 6.03 4.97z"></path></svg>');

}

.ne-icon--close {
	@include mask-image('<svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" aria-labelledby="close"><path fill-rule="evenodd" d="M3.72 3.72a.75.75 0 011.06 0L8 6.94l3.22-3.22a.75.75 0 111.06 1.06L9.06 8l3.22 3.22a.75.75 0 11-1.06 1.06L8 9.06l-3.22 3.22a.75.75 0 01-1.06-1.06L6.94 8 3.72 4.78a.75.75 0 010-1.06z"></path></svg>');

}

.ne-icon--dot-fill {
	@include mask-image('<svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" aria-labelledby="dot-fill"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8z"></path></svg>');

}

.ne-icon--dot {
	@include mask-image('<svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" aria-labelledby="dot"><path fill-rule="evenodd" d="M8 5.5a2.5 2.5 0 100 5 2.5 2.5 0 000-5zM4 8a4 4 0 118 0 4 4 0 01-8 0z"></path></svg>');

}

.ne-icon--good {
	@include mask-image('<svg width="24" height="24" viewBox="0 0 48 48" fill="currentColor" aria-hidden="true" aria-labelledby="good"><path d="M4.18898 22.1733C4.08737 21.0047 5.00852 20 6.18146 20H10C11.1046 20 12 20.8954 12 22V41C12 42.1046 11.1046 43 10 43H7.83363C6.79622 43 5.93102 42.2068 5.84115 41.1733L4.18898 22.1733Z" fill="none" stroke="#333" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path><path d="M18 21.3745C18 20.5388 18.5194 19.7908 19.2753 19.4345C20.9238 18.6574 23.7329 17.0938 25 14.9805C26.6331 12.2569 26.9411 7.33595 26.9912 6.20878C26.9982 6.05099 26.9937 5.89301 27.0154 5.73656C27.2861 3.78446 31.0543 6.06492 32.5 8.47612C33.2846 9.78471 33.3852 11.504 33.3027 12.8463C33.2144 14.2825 32.7933 15.6699 32.3802 17.0483L31.5 19.9845H42.3569C43.6832 19.9845 44.6421 21.2518 44.2816 22.5281L38.9113 41.5436C38.668 42.4051 37.8818 43 36.9866 43H20C18.8954 43 18 42.1046 18 41V21.3745Z" fill="none" stroke="#333" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path></svg>');

}

.ne-icon--info {
	@include mask-image('<svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" aria-labelledby="info"><path fill-rule="evenodd" d="M8 1.5a6.5 6.5 0 100 13 6.5 6.5 0 000-13zM0 8a8 8 0 1116 0A8 8 0 010 8zm6.5-.25A.75.75 0 017.25 7h1a.75.75 0 01.75.75v2.75h.25a.75.75 0 010 1.5h-2a.75.75 0 010-1.5h.25v-2h-.25a.75.75 0 01-.75-.75zM8 6a1 1 0 100-2 1 1 0 000 2z"></path></svg>');

}

.ne-icon--loading {
	@include mask-image('<svg width="16" height="16" viewBox="64 64 896 896" fill="currentColor" aria-hidden="true" aria-labelledby="loading"><path d="M168 504.2c1-43.7 10-86.1 26.9-126 17.3-41 42.1-77.7 73.7-109.4S337 212.3 378 195c42.4-17.9 87.4-27 133.9-27s91.5 9.1 133.8 27A341.5 341.5 0 0 1 755 268.8c9.9 9.9 19.2 20.4 27.8 31.4l-60.2 47a8 8 0 0 0 3 14.1l175.7 43c5 1.2 9.9-2.6 9.9-7.7l.8-180.9c0-6.7-7.7-10.5-12.9-6.3l-56.4 44.1C765.8 155.1 646.2 92 511.8 92 282.7 92 96.3 275.6 92 503.8a8 8 0 0 0 8 8.2h60c4.4 0 7.9-3.5 8-7.8zm756 7.8h-60c-4.4 0-7.9 3.5-8 7.8-1 43.7-10 86.1-26.9 126-17.3 41-42.1 77.8-73.7 109.4A342.45 342.45 0 0 1 512.1 856a342.24 342.24 0 0 1-243.2-100.8c-9.9-9.9-19.2-20.4-27.8-31.4l60.2-47a8 8 0 0 0-3-14.1l-175.7-43c-5-1.2-9.9 2.6-9.9 7.7l-.7 181c0 6.7 7.7 10.5 12.9 6.3l56.4-44.1C258.2 868.9 377.8 932 512.2 932c229.2 0 415.5-183.7 419.8-411.8a8 8 0 0 0-8-8.2z"></path></svg>');
  @extend .ne-icon-rotate;
}

.ne-icon--signal {
	@include mask-image('<svg width="24" height="24" viewBox="0 0 48 48" fill="currentColor" aria-hidden="true" aria-labelledby="signal"><g><rect width="48" height="48" fill="white" fill-opacity="0.01" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" stroke="none" fill-rule="evenodd"></rect><g transform="translate(7.500000, 6.000000)"><path d="M32.5,0 L32.5,36" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" stroke="#333" fill="none" fill-rule="evenodd"></path><path d="M21.5,10 L21.5,36" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" stroke="#333" fill="none" fill-rule="evenodd"></path><path d="M11.5,20 L11.5,36" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" stroke="#333" fill="none" fill-rule="evenodd"></path><path d="M0.5,30 L0.5,36" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" stroke="#333" fill="none" fill-rule="evenodd"></path></g></g></svg>');

}

.ne-icon--spin {
	@include mask-image('<svg width="1" height="1" viewBox="0 0 1024 1024" fill="currentColor" aria-hidden="true" aria-labelledby="spin"><path d="M988 548c-19.9 0-36-16.1-36-36 0-59.4-11.6-117-34.6-171.3a440.45 440.45 0 0 0-94.3-139.9 437.71 437.71 0 0 0-139.9-94.3C629 83.6 571.4 72 512 72c-19.9 0-36-16.1-36-36s16.1-36 36-36c69.1 0 136.2 13.5 199.3 40.3C772.3 66 827 103 874 150c47 47 83.9 101.8 109.7 162.7 26.7 63.1 40.2 130.2 40.2 199.3.1 19.9-16 36-35.9 36z"></path></svg>');
  @extend .ne-icon-rotate;
}

.ne-icon--warn {
	@include mask-image('<svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" aria-labelledby="warn"><path fill-rule="evenodd" d="M8 1.5a6.5 6.5 0 100 13 6.5 6.5 0 000-13zM0 8a8 8 0 1116 0A8 8 0 010 8zm9 3a1 1 0 11-2 0 1 1 0 012 0zm-.25-6.25a.75.75 0 00-1.5 0v3.5a.75.75 0 001.5 0v-3.5z"></path></svg>');

}

.ne-icon--x {
	@include mask-image('<svg width="32" height="22" viewBox="0 0 16 11" fill="currentColor" aria-hidden="true" aria-labelledby="x"><path transform="translate(-8,-5.5)" d="M19.6939806,7.30601937 C20.1020065,7.71404521 20.1020065,8.37558579 19.6939806,8.78361162 L17.4775923,11 L19.6939806,13.2163884 C20.1020065,13.6244142 20.1020065,14.2859548 19.6939806,14.6939806 C19.2859548,15.1020065 18.6244142,15.1020065 18.2163884,14.6939806 L16,12.4775923 L13.7836116,14.6939806 C13.3755858,15.1020065 12.7140452,15.1020065 12.3060194,14.6939806 C11.8979935,14.2859548 11.8979935,13.6244142 12.3060194,13.2163884 L14.5224077,11 L12.3060194,8.78361162 C11.8979935,8.37558579 11.8979935,7.71404521 12.3060194,7.30601937 C12.7140452,6.89799354 13.3755858,6.89799354 13.7836116,7.30601937 L16,9.52240775 L18.2163884,7.30601937 C18.6244142,6.89799354 19.2859548,6.89799354 19.6939806,7.30601937 Z"></path></svg>');

}
