.changelog{
  width:70%;
  max-width:70%;
  margin:0 auto;
  border-radius:6px;
  color:#74818D;
  h1{
    border-bottom: 2px solid #e5e5e5;
    padding-bottom:1.5rem
  }
  ul{
    margin:0;
    padding-bottom: .5rem;
    padding-left:2em;
    li + li{
      margin-top:.25em
    }
  }
}
