@import "mixins/mixins";

[class^='ne-icon-'],
[class*=' ne-icon-'] {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  mask-position: 50% 50%;
  mask-repeat: no-repeat;
  mask-size: 100%;
  background-color: currentColor;
}
.ne-icon {
  font-weight: normal;
  font-style: normal;
}
.ne-icon-courseware-arrow {
  @include mask-image('<svg width="40px" height="40px" viewBox="0 0 40 40" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><path d="M13.106926,17.4849914 L19.9983741,20.5 L19.9983741,20.5 L26.8728077,17.4924353 C27.5024809,17.2169533 28.2374533,17.4856128 28.5410305,18.1022324 C28.8299151,18.6890089 28.588426,19.3988725 28.0016495,19.6877571 C27.9886344,19.6941648 27.9755027,19.7003327 27.962261,19.7062579 L20.8191883,22.9024964 C20.2971489,23.1360881 19.700082,23.1350145 19.178886,22.899547 L12.1026895,19.7026413 C11.4942489,19.4277581 11.2238472,18.7116827 11.4987303,18.1032421 C11.4988824,18.1029054 11.4990347,18.1025689 11.499187,18.1022324 C11.7759113,17.49121 12.4924003,17.2161365 13.106926,17.4849914 Z" fill="#DCE0E7"></path></g></svg>');
}
.ne-icon-courseware-up{
  transform:rotate(180deg);
}
